
      <h2 class="mb-4 border-bottom pb-2">User info</h2>
        <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image, size: "100x100", class: "mb-3 d-block mx-auto" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "100x100", class: "mb-3 d-block mx-auto" %>
        <% end %>
      <table class="table table-borderless">
        <tr>
          <th>name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= user.introduction %></td>
        </tr>
      </table>

      <% if user == current_user %>
        <div class="text-center">
          <%= link_to edit_user_path(user), class: "btn btn-outline-secondary w-100" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
      <% end %>
