<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <%= render 'books/form', book: @book %>
      
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f5f5f5';" onmouseout="this.style.backgroundColor='';" onclick="location.href='<%= book_path(book) %>'">
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
              <td><%= link_to book.user.name, user_path(book.user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
